
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafbff;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}


nav {
  background-color: #014D4E;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #F4C430;
}


form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input,
form button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  background-color: #014D4E;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #013a3b;
}




@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav div {
    margin-top: 0.5rem;
  }

  .container {
    padding: 1rem;
  }
}
